*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Keystores
*.jks
*.keystore

# Google Services
google-services.json

# Secrets & Local Properties
local.properties
secrets.properties

# Memory dumps
*.hprof
